.carousel-item {
  margin-top: 50px;
}

.c-item-img-container {
  width: 300px;
  height: 330px;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 18px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.c-item-title, .c-item-copy {
  color: var(--text-color)
}

.c-item-title {
  font-size: clamp(20px, 2vw, 25px);
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.c-item-copy {
  font-size: clamp(14px, 1vw, 16px);
  max-width: 60%;
  line-height: 1.3rem;
}

@media (max-width: 500px) { 
    .carousel-item {
      margin-top: 25px;
      width: 100%;
    }
    
    .c-item-img-container {
      width: 100%;
    }
  }