.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
  flex-direction: column;
  padding: 0 134px;
  position: relative;
  margin-top: 59px;
}

.hero-3d-icon {
  position: absolute;
  width: clamp(100px, 10vw, 150px);
}

.lemon {
  top: 50%;
  right: 12%;
}

.pancake {
  top: 46%;
  left: 12%;
}

.hero-container {
  width: 100%;
}

.hero-copy-container {
  text-align: center;
  margin: 170px 0;
}

.hero-title,
.hero-copy {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.hero-title {
  font-size: clamp(50px, 5vw, 70px);
  margin-bottom: 32px;
}
.hero-copy {
  font-size: clamp(20px, 2vw, 30px);
  margin-bottom: 48px;
}

.hero-cta-btn {
  color: $font-color;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  background: linear-gradient(30deg, #cfeecc, $light-orange);
  display: grid;
  place-items: center;
  margin: 0 auto;
  font-weight: 500;
}

.hero-cta-container {
  display: flex;
  gap: 30px;
  margin-top: 35px;
  width: 100%;
  justify-content: center;
}

.hero-cta-title {
  color: var(--text-color);
}

.hero-cta {
  width: 300px;
  padding: 20px;
}

.hero-cta-copy {
  color: var(--text-color);
}

@media (max-width: 600px) {
  .hero-section {
    height: auto;
    padding: 0 50px;
  }
  .hero-container {
    padding: 0;
  }

  .hero-copy-container {
    margin-top: 80px;
    margin-bottom: 200px;
  }
  .hero-cta-container {
    display: block;
    width: 100%;
  }
  .hero-cta {
    width: 100%;
    margin: 50px 0;
    padding: 0;
  }
}