@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./variables.scss";

@import "./components/Header.scss";
@import "./components/Hero.scss";
@import "./components/About.scss";
@import "./components/Produce.scss";

.App {
  font-family: "Inter", sans-serif;
  background-color: vaR(--background);
}

.footer {
  text-align: center;
  font-size: 13px;
  height: 30px;
  color: var(--text-color);
}

.footer a {
  text-decoration: none;
  color: var(--text-color);
}

.dark {
  --header-background: #202020;
  --header-text: #cfeecc;
  --background: rgb(41, 41, 41);
  --text-color: white;
  --about-section-wave: linear-gradient(to bottom, #84a67d, #d9d96d);
  --about-cta: rgb(241, 241, 241);
}

.light {
  --background: white;
  --text-color: #444;
  --header-background: #cfeecc;
  --header-text: #444;
  --about-section-wave: linear-gradient(to bottom, #bbecb6, #f8ddaa);
  --about-cta: rgb(241, 241, 241);
}
